div {
    text-align: center;
}

h2 {
    font-size: 25px;
}

body {
    background-color: blue;
    color: white;
    text-shadow: 0 2px 2px black;
}

.total {
    font-size: 48px;
}

hr {
    background-color: white;
}